*{
    font-family: 'Nunito', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

section.home {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 1fr;
}

.text-section {
    padding-top: 144px;
}

h1.large-title {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 48px;
    color: #234CAD;
    width: 50%;
}

p.text-muted {
    font-size: 16px;
    margin: 16px 0;
}

button.btn-primary {
    padding: 12px 38px;
    background-color: #f9f9f9;
    border-radius: 32.5px;
    color: #234CAD;
    border: 2px solid #234CAD;
    font-size: 22px;
    font-weight: 500;
    margin: 24px 0;
}

.wrapper {
    position: absolute;
    left: 50%;
    height: 10%;
    top: 13%;
 
}

.card {
    height: 140px;
    width: 240px;
    left: 40px;
    top: 120px;
    border-radius: 25px;
    background: #fffcfc;
    border: none;
}

.text-card {
    font-size: 18px;
    line-height: 21px;  
    color: #234CAD;
    text-align: center;
    font-family: 'Nunito';
    font-weight: bold;
}

.p-card {
    text-align: center;
    color: #234CAD;
    font-size: 14px;
}
